# Test de normalidad
**Autor:** Luis Alfredo Blanco Dom√≠nguez  
**Fecha:** Marzo 2025

## Libreria y dataset

In [2]:
import pandas as pd

df_iris = pd.read_csv('Iris.csv')
df_iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

## Revisamos las estadisticas descriptivas de las medidas de los iris

In [7]:
display(df_iris[['SepalLengthCm',	'SepalWidthCm',	'PetalLengthCm',	'PetalWidthCm']].describe().round(3))

       SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count        150.000       150.000        150.000       150.000
mean           5.843         3.054          3.759         1.199
std            0.828         0.434          1.764         0.763
min            4.300         2.000          1.000         0.100
25%            5.100         2.800          1.600         0.300
50%            5.800         3.000          4.350         1.300
75%            6.400         3.300          5.100         1.800
max            7.900         4.400          6.900         2.500

## Revisamos las estadisticas descriptivas de las medidas de los iris por especie

In [14]:
display(df_iris[['SepalLengthCm',	'SepalWidthCm',	'PetalLengthCm',	'PetalWidthCm', 'Species']].groupby(['Species']).describe().round(3).T)

Species              Iris-setosa  Iris-versicolor  Iris-virginica
SepalLengthCm count       50.000           50.000          50.000
              mean         5.006            5.936           6.588
              std          0.352            0.516           0.636
              min          4.300            4.900           4.900
              25%          4.800            5.600           6.225
              50%          5.000            5.900           6.500
              75%          5.200            6.300           6.900
              max          5.800            7.000           7.900
SepalWidthCm  count       50.000           50.000          50.000
              mean         3.418            2.770           2.974
              std          0.381            0.314           0.322
              min          2.300            2.000           2.200
              25%          3.125            2.525           2.800
              50%          3.400            2.800           3.000
              75%          3.675            3.000           3.175
              max          4.400            3.400           3.800
PetalLengthCm count       50.000           50.000          50.000
              mean         1.464            4.260           5.552
              std          0.174            0.470           0.552
              min          1.000            3.000           4.500
              25%          1.400            4.000           5.100
              50%          1.500            4.350           5.550
              75%          1.575            4.600           5.875
              max          1.900            5.100           6.900
PetalWidthCm  count       50.000           50.000          50.000
              mean         0.244            1.326           2.026
              std          0.107            0.198           0.275
              min          0.100            1.000           1.400
              25%          0.200            1.200           1.800
              50%          0.200            1.300           2.000
              75%          0.300            1.500           2.300
              max          0.600            1.800           2.500

## Vamos a centrarnos en la variable SepalLengthCm